<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
    <title>Quote's day</title>
</head>
<body>
    <div id="page">
        <div id="quote">
        </div>
    </div>
    <script src="quote.js"></script>
</body>
</html>
